@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 80px;
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base outline-purple-custom/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-inter font-normal text-black-custom;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] mx-5 md:mx-0 md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-purple-custom/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  /* sticky: 是一種混合型的定位方式，它在元素在滾動到某個位置之前表現得像相對定位（relative）；
  但是一旦元素滾動到該位置，元素就變得像固定定位（fixed）。 */
  .navbar {
    @apply z-10 
      sticky 
      top-0 
      flex 
      items-center 
      w-full 
      h-[var(--navbar-height)] 
      px-[5vw] 
      gap-12
      py-5 
      border-b 
      border-grey-custom
      bg-white-custom;
  }

  .h-cover {
    @apply min-h-[calc(100vh-var(--navbar-height))];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap
      bg-black-custom
      text-white-custom 
      rounded-full
      py-3 
      px-6
      text-base
      capitalize
      hover:opacity-80
      transition;
  }

  .btn-light {
    @apply btn-dark
      bg-grey-custom 
      text-black-custom;
  }

  .input-box {
    @apply w-[100%]
      rounded-md
      p-4
      pl-12
      bg-grey-custom
      border
      border-grey-custom
      focus:bg-transparent
      placeholder:text-black-custom
      focus:placeholder:text-transparent;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute
      left-5
      top-1/2
      -translate-y-1/2;
  }

  .link {
    @apply text-grey-dark
      hover:text-black-custom 
      hover:bg-grey-custom 
      p-3
      block
      opacity-75
      transition;
  }

  .hide {
    @apply hidden pointer-events-none duration-100 transition;
  }

  .show {
    @apply flex pointer-events-auto duration-100 transition;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-grey-dark hover:text-black-custom;
  }

  .sidebar-link.active {
    @apply text-black-custom border-r-2 border-black-custom pl-6 bg-grey-custom/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
  }

  #textEditor h1 {
    @apply font-inter
    text-4xl
    md:text-[40px]
    leading-normal
    font-bold
    max-md:leading-snug !important;
  }

  #textEditor h2,
  h2 {
    @apply font-inter
    text-3xl
    md:text-[30px]
    leading-normal
    font-semibold
    max-md:leading-snug !important;
  }

  #textEditor h3,
  h3 {
    @apply font-inter
    text-2xl
    md:text-[22px]
    font-semibold
    leading-loose
    max-md:leading-normal !important;
  }

  #textEditor h4,
  h4 {
    @apply font-inter
    text-xl
    md:text-[18px]
    font-semibold
    leading-loose
    max-md:leading-normal !important;
  }

  #textEditor * {
    @apply font-mono max-md:text-[15px] max-md:leading-8 md:text-[16px] md:leading-9 lg:text-[17px];
  }

  .blog-page-content * {
    @apply font-inter max-md:text-[15px] max-md:leading-8 md:text-[16px] md:leading-9 lg:text-[17px];
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-purple-custom underline hover:opacity-50;
  }

  .tag {
    @apply p-3 bg-grey-custom rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-[18px] sm:text-[20px] font-semibold line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-5xl font-bold text-gray-200 leading-none;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}

/* ------------ 關於 @editorjs/code -------------- */

.ce-code__textarea {
  @apply border-0
    p-5
    rounded-md
    resize-none
    font-mono
    text-lg
    text-gray-600
    leading-6
    max-h-[500px]
    bg-gray-50
    !important;
}

/* 定义滚动条的宽度 */
/* .ce-code__textarea::-webkit-scrollbar {
  @apply w-0 h-0;
} */

/* ------------ 關於 @bomdi/codebox -------------- */

/* 調整 plus 和 setting 的位置 */
.ce-toolbar__actions {
  @apply absolute top-[calc(100%-5px)];
}

/* 調整 plus 和 setting svg icon 的顏色*/
.ce-toolbar__actions .ce-toolbar__plus,
.ce-toolbar__settings-btn svg {
  @apply text-grey-dark/50;
}

/* 調整 editorjs 的 placeholder */
.ce-paragraph[data-placeholder]:empty::before {
  @apply text-grey-dark/50;
}

/* 調整 Heading placeholder */
.ce-header[contentEditable="true"][data-placeholder]:before {
  @apply text-grey-dark/30;
}

/* 調整選項單每個 item 的空間 */
.ce-popover-item__title {
  @apply p-1;
}

/* 調整 codeblock 框*/
.hljs {
  @apply p-6 rounded-md overflow-hidden !important;
}

/* 調整 codeblock 內容的上下距離
   實際 text 內容無法全部調整，比如大小等，因為 editorjs 解析的 element 分類有問題 */
.codeBoxTextArea span {
  @apply leading-7 !important;
}

/* 調整包裹 codeblock 語言選單的 div 外框 */
.codeBoxSelectDiv {
  @apply w-full justify-end items-end;
}

/* 隱藏 codeblock 語言選單中不必要的 icon */
.codeBoxSelectDropIcon {
  @apply hidden;
}

/* 調整 codeblock 選單 */
.codeBoxSelectInput {
  @apply rounded-md bg-opacity-0 text-end p-2 text-grey-dark/30 absolute;
}
