@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 80px;
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base outline-purple-custom/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-inter font-normal text-black-custom bg-white-custom;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] mx-5 md:mx-0 md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-purple-custom/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  /* radio 類型的 input (bg-clip-content 相當與 css 的 background-clip: content-box)，
     即指定背景仅延伸至元素的内容框内 */
  input[type="radio"] {
    @apply appearance-none
      p-[2.5px]
      border
      border-grey-dark/30
      bg-clip-content
      bg-white-custom/20
      rounded-full
      shadow-[0px_0px_2px_1px]
      shadow-grey-dark/10;
  }

  input[type="radio"]:checked {
    @apply bg-purple-custom/50 border-purple-custom;
  }

  /* 除了 class 為 “cdx-search-field__input” 的 input 外，theme 為 dark 時都需要設定為這個 css */
  body[class="dark"] input:not(.cdx-search-field__input),
  .input-box {
    @apply outline-none focus:outline-purple-400/40;
  }

  /* sticky: 是一種混合型的定位方式，它在元素在滾動到某個位置之前表現得像相對定位（relative）；
  但是一旦元素滾動到該位置，元素就變得像固定定位（fixed）。 */
  .navbar {
    @apply z-10 
      sticky 
      top-0 
      flex 
      items-center 
      w-full 
      h-[var(--navbar-height)] 
      px-[5vw] 
      gap-12
      py-5 
      border-b 
      border-grey-custom
      bg-white-custom;
  }

  .h-cover {
    @apply min-h-[calc(100vh-var(--navbar-height))];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap
      bg-black-custom
      text-white-custom
      rounded-full
      py-3 
      px-6
      text-base
      capitalize
      hover:opacity-80
      transition;
  }

  .btn-light {
    @apply btn-dark
      bg-grey-custom 
      text-black-custom;
  }

  .input-box {
    @apply w-[100%]
      rounded-md
      p-4
      pl-[4rem]
      bg-grey-custom
      border
      border-grey-custom
      focus:bg-transparent
      placeholder:text-grey-dark/40
      focus:placeholder:text-transparent;
  }

  /* 沒找到更好的辦法，所以直接强制延長[自動填充]背景色的時間,這樣在短時間内就看不到 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    outline: none;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute
      left-5
      top-1/2
      -translate-y-1/2;
  }

  .link {
    @apply text-grey-dark
      hover:text-black-custom 
      hover:bg-grey-custom 
      p-3
      block
      opacity-75
      transition;
  }

  .hide {
    @apply hidden pointer-events-none duration-100 transition;
  }

  .show {
    @apply flex pointer-events-auto duration-100 transition;
  }

  .sidebar-link {
    @apply flex
    p-5
    mb-2
    max-md:mr-10
    gap-4 
    items-center 
    text-grey-dark
    hover:text-black-custom
    hover:bg-grey-custom/50
    rounded-md
    transition;
  }

  .sidebar-link.active {
    @apply text-black-custom
    md:border-r-2
    border-black-custom
    bg-grey-custom/50
    rounded-r-none;
  }

  #textEditor h1 {
    @apply font-inter
    text-4xl
    md:text-[40px]
    leading-normal
    font-bold
    max-md:leading-snug !important;
  }

  #textEditor h2,
  h2 {
    @apply font-inter
    text-3xl
    md:text-[30px]
    leading-normal
    font-semibold
    max-md:leading-snug !important;
  }

  #textEditor h3,
  h3 {
    @apply font-inter
    text-2xl
    md:text-[22px]
    font-semibold
    leading-loose
    max-md:leading-normal !important;
  }

  #textEditor h4,
  h4 {
    @apply font-inter
    text-xl
    md:text-[18px]
    font-semibold
    leading-loose
    max-md:leading-normal !important;
  }

  #textEditor * {
    @apply font-mono max-md:text-[15px] max-md:leading-8 md:text-[16px] md:leading-9 lg:text-[17px];
  }

  .blog-page-content * {
    @apply font-inter max-md:text-[15px] max-md:leading-8 md:text-[16px] md:leading-9 lg:text-[17px];
  }

  body[class="light"] #textEditor a,
  .blog-page-content a {
    @apply text-purple-custom underline hover:opacity-50;
  }

  body[class="dark"] #textEditor a,
  .blog-page-content a {
    @apply text-orange-400 underline hover:opacity-50;
  }

  .tag {
    @apply p-3 bg-grey-custom rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-[18px] sm:text-[20px] font-semibold line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-5xl font-bold text-grey-index leading-none;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}

/* ------------ 關於 @editorjs/code -------------- */

.ce-code__textarea {
  @apply border-0
    p-5
    rounded-md
    resize-none
    font-mono
    text-lg
    text-grey-dark
    leading-6
    max-h-[500px]
    bg-grey-custom/80
    !important;
}

/* 定义滚动条的宽度 */

.cstm-scrollbar-hidden::-webkit-scrollbar {
  @apply w-0 h-0;
}

.cstm-scrollbar::-webkit-scrollbar {
  @apply w-1 h-2;
}
.cstm-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-grey-dark/20 rounded-full;
}

/* ------------ 關於 @bomdi/codebox -------------- */

/* 調整 plus 和 setting 的位置 */
.ce-toolbar__actions {
  @apply absolute top-[calc(100%-5px)];
}

/* 調整 plus 和 setting svg icon 的顏色*/
.ce-toolbar__actions .ce-toolbar__plus,
.ce-toolbar__settings-btn svg {
  @apply text-grey-dark/50;
}

/* 調整 editorjs 的 placeholder */
.ce-paragraph[data-placeholder]:empty::before {
  @apply text-grey-dark/50;
}

/* 調整 Heading placeholder */
.ce-header[contentEditable="true"][data-placeholder]:before {
  @apply text-grey-dark/30;
}

/* 調整選項單每個 item 的空間 */
.ce-popover-item__title {
  @apply p-1;
}

/* 調整 codeblock 框*/
.hljs {
  @apply p-6 rounded-md overflow-hidden !important;
}

/* 調整 codeblock 內容的上下距離
   實際 text 內容無法全部調整，比如大小等，因為 editorjs 解析的 element 分類有問題 */
.codeBoxTextArea span {
  @apply leading-7 !important;
}

/* 調整包裹 codeblock 語言選單的 div 外框 */
.codeBoxSelectDiv {
  @apply w-full justify-end items-end;
}

/* 隱藏 codeblock 語言選單中不必要的 icon */
.codeBoxSelectDropIcon {
  @apply hidden;
}

/* 調整 codeblock 選單 */
.codeBoxSelectInput {
  @apply rounded-md bg-opacity-0 text-end p-2 text-grey-dark/30 absolute;
}

/* 調整 mark */
.cdx-marker {
  @apply text-black-custom;
}

/* editorjs 的加號及選單快捷鍵 */
.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  @apply m-2;
}

body[class="dark"] .ce-toolbar__plus,
body[class="dark"] .ce-toolbar__settings-btn {
  @apply hover:bg-grey-custom;
}

/* 選項視窗 */
.ce-popover {
  @apply flex
  p-3
  w-[250px]
  border-0
  bg-white-custom/90
  shadow-[0px_0px_3px_0.5px]
  shadow-grey-dark/30;
}

/* 選項視窗的搜索框 */
.cdx-search-field {
  @apply flex mb-3 bg-grey-custom text-[14px] border-none !important;
}

/* 選項視窗中搜索框的 Icon */
.cdx-search-field__icon {
  @apply flex mt-1;
}

/* 選項列表框 */
.ce-popover__items {
  @apply flex flex-col pr-2;
}

/* 選項卡 */
body[class="dark"] .ce-popover-item {
  @apply pl-2 hover:bg-gray-600/20 transition;
}

/* 選項列表中的選項 Icon */
.ce-popover-item__icon {
  @apply flex
  w-8
  h-8
  bg-grey-custom 
  text-black-custom 
  shadow-[0px_0px_5px_1px]
  shadow-grey-custom
  rounded-full;
}

/* 選項列表中的選項文字 */
.ce-popover-item__title {
  @apply flex text-black-custom text-[14px] !important;
}

/* 自定义滚动条的宽度 */
.ce-popover__items::-webkit-scrollbar {
  @apply w-1;
}

/* 自定义滚动条轨道的样式 */
.ce-popover__items::-webkit-scrollbar-track {
  @apply bg-grey-custom rounded-full;
}

/* 自定义滚动条滑块的样式 */
.ce-popover__items::-webkit-scrollbar-thumb {
  @apply bg-grey-dark/30 rounded-full;
}

/* 当鼠标悬停在滚动条滑块上时，改变滑块的样式 */
.ce-popover__items::-webkit-scrollbar-thumb:hover {
  @apply bg-grey-dark/60;
}

.cdx-block {
  @apply bg-white-custom;
}

/* 呼叫的編輯按鈕，比如 import image */
body[class="dark"] .cdx-button {
  @apply bg-grey-custom hover:bg-grey-custom/50 border-none;
}

body[class="dark"] .image-tool__image {
  @apply bg-grey-custom border-none;
}

/* -------- codeblock 的 scrollbar styles */
pre::-webkit-scrollbar {
  @apply w-1 h-1;
}

pre::-webkit-scrollbar-track {
  @apply bg-grey-custom rounded-full;
}

pre::-webkit-scrollbar-thumb {
  @apply bg-grey-dark/30 rounded-full;
}

pre::-webkit-scrollbar-thumb:hover {
  @apply bg-grey-dark/60;
}
